
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header, footer {
  background-color: rgb(247, 125, 125);
  color: white;
  text-align: center;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.container {
  width: 80%;
  margin: auto;
}

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  background: white;
}
